[submodule "backend"]
	path = backend
	url = https://github.com/borys-malinowski/betterTelloController-backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/borys-malinowski/betterTelloController-frontend.git
	branch = main